
static/js/.DS_Store
static/.DS_Store
.env

# Node/TypeScript
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
*.tsbuildinfo
.vscode/
.idea/
/pages
/pages
.DS_Store

**/.claude/settings.local.json
.DS_Store
